/*------------------------------------*\
  $FOOTER
\*------------------------------------*/

footer {
  width: 1000px;
  margin: 0 auto;
  border-top: 1px solid $brand-color;
  padding: $half-spacing-unit 6%;
  a, .all-rights-reserved{
    margin-right: 1%;
    font-size: $milli-size;
  }
}

.all-rights-reserved {
  float: right;
}