/*------------------------------------*\
  $MAIN-CONTENT
\*------------------------------------*/

.main-content {
  x-margin-top: $base-spacing-unit;
}

.slider {
  width: 100%;
  height: $base-line-height*16;
  background: grey;
  border: 4px solid $brand-color;
  margin-bottom: $base-spacing-unit*2;
}

.content {
  padding:0 6% $base-spacing-unit*2 6%;
  @extend .cf;
  img {
    border: 2px solid $brand-color;
  }
  ul {
    margin-left: 0;
    li {
      margin-left: 3rem;
      margin-bottom: $half-spacing-unit;
    }
  }
}

iframe {
  display: block;
  margin: 0 auto;
  border: 4px solid $brand-color;
}